<ul class="clearfix list-reset flex flex-1">
    {% nav entry in menu %}
    
    <li{% if entry.slug == craft.app.request.getSegment(entry.level) %} class="active"{% endif %}>

        
        <a href="{{ entry.url }}" class="{% if entry.hasDescendants() %}has-children{% endif %} ml-8 no-underline text-black hover:text-blue" >{{ entry.title }}</a>
        

        {% ifchildren %}
        <ul>
            {% children %}
        </ul>
        {% endifchildren %}
    </li>
    
    {% endnav %}
</ul>