{% set baseUrl = alias('@baseUrl') ~ '/' %}
{% set staticAssetsVersion = craft.app.config.general.custom.staticAssetsVersion %}
<!DOCTYPE html>
<html class="no-js" lang="{{ craft.app.language |slice(0,2) }}">

{%- minify -%}
    <head>
        <link rel="dns-prefetch" href="{{ baseUrl }}">
        <link rel="preconnect" href="{{ baseUrl }}" crossorigin>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1">
        
        <script>
            {{ source("_inlinejs/loadjs.min.js") }}
            {{ source("_inlinejs/tiny-cookie.min.js") }}
        </script>
{%- endminify -%}

        <script type="text/javascript">
            var staticAssetsVersion = "{{ staticAssetsVersion }}";
            var assetsBaseUrl = "{{ baseUrl }}";
            var retina = window.devicePixelRatio > 1;
        </script>

    <link rel="stylesheet" href="{{ baseUrl }}css/site.combined.min.{{staticAssetsVersion}}.css">

</head>

<body class="{% if (entry is defined) %}level-{{ entry.level }} entry-{{ entry.id }}{% endif %} {% if (bodyclass is defined) %} {{ bodyclass }} {% endif %}">


      <div class="container">

        {% block content %}
        {% endblock %}

        </div> <!-- container -->


        <script>
                // define a dependency bundle
                loadjs(
                    [
                        '{{ baseUrl }}js/jquery.min.{{staticAssetsVersion}}.js',
                    ],
                    'jquery'
                );
                loadjs.ready(['jquery'], {
                    success: function() {
                        loadjs(
                            [
                                '{{ baseUrl }}js/slick.min.{{staticAssetsVersion}}.js',
                                '{{ baseUrl }}js/jquery.magnific-popup.min.{{staticAssetsVersion}}.js',
                            ],
                            'plugins'
                        );
                        loadjs.ready(['plugins'], {
                            success: function() {
                                
                            }
                        });
                    }
                });
        </script>

</body>

</html>