{% set baseUrl = alias('@baseUrl') ~ '/' %}
{% set staticAssetsVersion = craft.app.config.general.custom.staticAssetsVersion %}
<!DOCTYPE html>
<html class="no-js" lang="{{ craft.app.language |slice(0,2) }}">

{%- minify -%}
    <head>
        <link rel="dns-prefetch" href="{{ baseUrl }}">
        <link rel="preconnect" href="{{ baseUrl }}" crossorigin>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1">
        
        <script>
            {% if craft.app.config.general.isSystemOn %}
                {{ source("_inlinejs/register-service-worker.min.js") }}
            {% endif %}
            {{ source("_inlinejs/loadjs.min.js") }}
            {{ source("_inlinejs/tiny-cookie.min.js") }}
        </script>
{%- endminify -%}

        <script type="text/javascript">
            var staticAssetsVersion = "{{ staticAssetsVersion }}";
            var assetsBaseUrl = "{{ baseUrl }}";
            var retina = window.devicePixelRatio > 1;
        </script>

    <link rel="stylesheet" href="{{ baseUrl }}css/site.combined.min.{{staticAssetsVersion}}.css">
    {# {{ source ("index_critical.min.css", ignore_missing = true) }} #}
    <script>
        {{ source("_inlinejs/loadCSS.min.js") }}
        {{ source("_inlinejs/cssrelpreload.min.js") }}
    </script>

</head>

<body class="{% if (entry is defined) %}level-{{ entry.level }} entry-{{ entry.id }}{% endif %} {% if (bodyclass is defined) %} {{ bodyclass }} {% endif %}">


      <div class="container">

        {% block content %}
        {% endblock %}

        </div> <!-- container -->


        <script>
                // define a dependency bundle
                loadjs(
                    [
                        '{{ baseUrl }}js/jquery.min.{{staticAssetsVersion}}.js',
                    ],
                    'jquery'
                );
                loadjs(
                    [
                        '{{ baseUrl }}js/slick.min.{{staticAssetsVersion}}.js',
                    ],
                    'slick'
                );
                loadjs(
                    [
                        '{{ baseUrl }}js/jquery.magnific-popup.min.{{staticAssetsVersion}}.js',
                    ],
                    'magnific'
                );
                loadjs.ready(['jquery', 'slick', 'magnific'], {
                    success: function() {
                        console.log('Loaded jquery, slick and magnific');
                    }
                });
            </script>

</body>

</html>